body{
    width: 100vw;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
    background-color: #2a2438;
    color: #dbd8e3;
    gap: 1px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 70px 70px  50px auto;
    column-gap: 10px;
    overflow-x: hidden;
}
.footer{
    z-index: 10;
    position: sticky;
    top: 0;
    left: 0;
    background: rgb(175, 17, 17);
    width: 100vw;
    height: 50px;
    background: #352f44;
    border-bottom:solid #5c5470 1px;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
#plus{
    list-style-type: "+";
    width: 4rem;
}
#minus{
    list-style-type: "-";
    width: 4rem;
}
#input{
    background: transparent;
    border: none;
    border-bottom: solid #dbd8e3 1px;
    color: #dbd8e3;
    outline: none;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
}
#submit{
    background: transparent;
    border: solid 1px;
    outline: none;
    color: #dbd8e3;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
}
select{
    background: transparent;
    border: none;
    color: #dbd8e3;
    outline: none;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    padding: 1px;
    border-bottom: solid #dbd8e3 1px;
    cursor: pointer;
}
select>option{
    background-color: #2a2438;
    border: none;
}
#form{
    height: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
}
#plus{
    background-color: rgba(0, 255, 0, 0.2);
}
#minus{
    background-color: rgba(255, 0, 0, 0.2);
}
ul{
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    overflow: hidden;
    background-color: #5c5470;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;   
}
p{
    color: #dbd8e3;
    outline: none;
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
    height:1em;
    position: relative;
    margin: 0;
    top: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}
h1{
    margin: 7px;
    filter: drop-shadow(5px 5px 5px #000000);
}
img{
    width: 40px;
    height: 40px;
    margin: 5px;
    filter: drop-shadow(0px 0px 8px #000000);
}